.img {
  width: 150px;
  height: 150px;
}

#container {
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.item,
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
